.container {
    margin: auto;
    max-width: 500px;
    font-family: georgia, serif;
}
.heading {
    color: darkcyan;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: blue;
}